<script setup>
import { reactive, computed } from 'vue';

function checkIfAnyFieldIsEmpty(data) {
  for (const key in data) {
    if (data.hasOwnProperty(key)) {
      const value = data[key];
      if (value === '' || (Array.isArray(value) && value.length === 0)) {
        return true;
      }
    }
  }
  return false;
}

const emit = defineEmits(['triggerSpecialOffer']);
const props = defineProps({
  formInputs: {
    type: Object
  }
});

let inputs = reactive({
  targetGroup: '',
  yourCompetitors: '',
  projectDetails: ''
});

let form = reactive({});

const checkEstimeAppAviale = computed(() => {
  const requiredData = {
    ...props.formInputs,
    ...inputs
  };
  return checkIfAnyFieldIsEmpty(requiredData);
});
</script>

<template>
  <form class="form container_inner">
    <div class="form-group">
      <label class="form__label" for="TargetGroup">Target group</label>
      <textarea
        id="TargetGroup"
        class="form__textarea"
        v-model="inputs.targetGroup"
        placeholder="Describe your target group"
      ></textarea>
    </div>

    <div class="form-group">
      <label class="form__label" for="Competitors">Your competitors</label>
      <input
        placeholder="Describe your Competitors"
        id="Competitors"
        v-model="inputs.yourCompetitors"
        class="form__input"
      />
    </div>

    <div class="form-group">
      <label class="form__label" for="Idea">Project details</label>
      <textarea
        placeholder="Describe your project idea"
        id="Idea"
        v-model="inputs.projectDetails"
        class="form__textarea"
      ></textarea>
    </div>
    <button
      type="submit"
      class="form__submit"
      :disabled="checkEstimeAppAviale"
      @click.prevent="emit('triggerSpecialOffer', inputs)"
    >
      Estimate App
    </button>
  </form>
</template>

<style lang="scss" scoped>
.form {
  width: 100%;
  max-width: 605px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;

  &__label {
    width: 100%;
    margin-bottom: 24px;
    font-size: 18px;
    display: block;
    text-align: left;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 16px;
    border: 1px solid var(--Stroke, #eff0f6);
    box-shadow: 0 2px 7px 0 rgba(20, 20, 43, 0.08);
    color: #666;
  }

  &__textarea {
    height: 153px;
    resize: none;
  }

  &__submit {
    width: 173px;
    margin: 0 auto;
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #114dc8;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: #114dc8;
  }
}
</style>
