<script setup>
import { reactive } from 'vue';
const emit = defineEmits(['onChange']);
import Platform from '@/components/platforms/platform.vue';

let selectedPlatforms = reactive([]);

let platforms = reactive([
  {
    name: 'Web App',
    icon: 'web'
  },
  {
    name: 'iOS App',
    icon: 'ios'
  },
  {
    name: 'Android App',
    icon: 'android'
  }
]);

const setPlatforms = (platform) => {
  function updateArray(array, obj) {
    const index = array.findIndex((item) => item.name === obj.name);
    if (index === -1) {
      array.push(obj);
    } else {
      array.splice(index, 1);
    }
  }
  updateArray(selectedPlatforms, platform);
  emit('onChange', selectedPlatforms);
};
</script>

<template>
  <div class="platforms">
    <h3 class="platforms__title">What type of platform do you need?</h3>
    <div class="platforms__container">
      <Platform
        v-for="platform in platforms"
        :key="platform.name"
        :platform="platform"
        :class="{
          'platform--active': selectedPlatforms.find(
            (elem) => elem.name === platform.name
          )
        }"
        @click="setPlatforms(platform)"
      />
    </div>
  </div>
</template>

<style lang="scss">
.platforms {
  padding: 80px 1rem;
  width: 100%;
  max-width: 605px;
  margin: 0 auto;

  &__title {
    margin-bottom: 28px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 40px;
  }
}

@media all and (max-width: 767px) {
  .platforms {
    &__container {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      & .platform {
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}
</style>
