<script setup>
const { platform } = defineProps({
  platform: {
    type: Object,
    required: true
  }
});
</script>

<template>
  <div class="platform">
    <img
      v-if="platform.icon"
      :src="`/view-${platform.icon}.svg`"
      alt="View type"
      class="platform__img"
    />
    <h5 class="platform__name">{{ platform.name }}</h5>
  </div>
</template>

<style lang="scss" scoped>
.platform {
  padding: 24px;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid var(--Stroke, #eff0f6);
  box-shadow: 0 2px 7px 0 rgba(20, 20, 43, 0.08);
  background: var(--white, #fff);
  cursor: pointer;
  transition: all 0.2s;

  &__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  &--active {
    border-color: #114dc8;
  }
  &:hover {
    border-color: #114dc8;
  }
}
</style>
