@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.app {
  width: 100%;
  color: #0a1216;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  background: #fff;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 30px;
}

a,
button {
  cursor: pointer;
}

a {
  color: #114dc8;

  &:hover,
  &:active {
    color: #114dc8;
  }
}

button {
  &:hover,
  &:active {
    border: 1px solid #6a2b94 !important;
    background: #6a2b94 !important;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

ul {
  list-style: none;
}

@media all and (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}
