<script setup>
import { reactive, computed } from 'vue';

function checkIfAnyFieldIsEmpty(data) {
  const emailRegex =
    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

  for (const key in data) {
    if (data.hasOwnProperty(key)) {
      const value = data[key];
      if (value === '' || (Array.isArray(value) && value.length === 0)) {
        return true;
      }
      if (key === 'email' && !emailRegex.test(value)) {
        return true;
      }
    }
  }
  return false;
}

const emit = defineEmits(['submit']);

const specialOfferForm = reactive({
  name: '',
  email: '',
  contact_number: '',
  project_description: ''
});

const isEmailValid = computed(() => {
  if (
    specialOfferForm &&
    specialOfferForm.email &&
    specialOfferForm.email.length > 0
  ) {
    const emailRegex =
      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return emailRegex.test(specialOfferForm.email);
  } else {
    return true;
  }
});

const checkEstimeAppAviale = computed(() => {
  return checkIfAnyFieldIsEmpty(specialOfferForm);
});
</script>

<template>
  <form class="form_estimate">
    <div class="form_estimate__grid">
      <div class="form-group">
        <label class="form_estimate__label" for="Name">Name</label>
        <input
          placeholder="Enter your name"
          v-model="specialOfferForm.name"
          class="form_estimate__input"
          id="Name"
        />
      </div>

      <div class="form-group">
        <label class="form_estimate__label" for="Number">Contact number</label>
        <input
          placeholder="Enter your phone"
          v-model="specialOfferForm.contact_number"
          class="form_estimate__input"
          id="Number"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="form_estimate__label" for="Email">Work e-mail</label>
      <input
        placeholder="Enter your e-mail"
        v-model="specialOfferForm.email"
        class="form_estimate__input"
        @blur="validateEmail"
        id="Email"
        type="email"
      />
      <p v-if="!isEmailValid" class="form-group__error-msg">
        Please enter a valid email address.
      </p>
    </div>

    <div class="form-group">
      <label class="form_estimate__label" for="Description"
        >Project description</label
      >
      <textarea
        placeholder="Project description"
        v-model="specialOfferForm.project_description"
        class="form_estimate__textarea"
        id="Description"
      />
    </div>

    <div class="form_estimate__wrap_submit">
      <button
        class="form_estimate__submit"
        :disabled="checkEstimeAppAviale"
        @click.prevent="emit('submit', specialOfferForm)"
      >
        Get full estimate
      </button>
    </div>
  </form>
</template>

<style lang="scss" scoped>
.form_estimate {
  &__grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
  }

  & .form-group {
    margin-bottom: 24px;
    &__error-msg {
      color: red;
      font-weight: bold;
      font-size: 12px;
      margin-top: 10px;
    }
  }

  &__label {
    margin-bottom: 12px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 20px;
    color: #666;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 12px;
    border: 1px solid var(--Stroke, #eff0f6);
    background: var(--white, #fff);
    box-shadow: 0 2px 7px 0 rgba(20, 20, 43, 0.08);
  }

  &__textarea {
    height: 120px;
    resize: none;
  }

  &__wrap_submit {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }

  &__submit {
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #114dc8;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;
    background: var(--Primary, #114dc8);
  }
}

@media all and (max-width: 767px) {
  .form_estimate {
    &__grid {
      flex-direction: column;
      display: flex;
      gap: 0;
    }

    &__wrap_submit {
      position: relative;
      bottom: auto;
      left: auto;
    }
  }
}
</style>
