<script setup></script>

<template>
  <div class="special-offer-left">
    <div class="special-offer-left__container top">
      <h2 class="special-offer-left__title">
        SPECIAL<br />
        OFFER
      </h2>

      <div class="special-offer-left__container bottom">
        <div class="special-offer-left__submit">
          <img src="/btn-submit.svg" alt="" />
        </div>

        <p class="special-offer-left__description">
          Get one-week project discovery sessions with our experts at
          <span>zero cost</span>.
        </p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.special-offer-left {
  height: 100%;
  display: flex;
  align-items: center;
  background: var(--grad, linear-gradient(0deg, #114dc8 0%, #6a2b94 100%));

  &__container {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    flex-direction: column;

    &.bottom {
      margin: 0;
    }
  }

  &__title {
    width: 100%;
    max-width: 360px;
    margin: 0 auto 80px;
    text-align: center;
    color: #fff;
    font-size: 88px;
    font-weight: 700;
  }

  &__description {
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-weight: 400;

    & span {
      font-weight: 700;
    }
  }

  &__submit {
    position: relative;
    height: 56px;
    margin-bottom: 80px;
    cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
</style>
