<script setup>
import Form from './form.vue';
import SpecialTopBlock from '@/components/special-offer/SpecialTopBlock.vue';

const emit = defineEmits(['submit']);

const headerLinks = [
  {
    name: 'Detailed feature list',
    and: false
  },
  {
    name: 'Technical architecture',
    and: false
  },
  {
    name: '2 FREE app design Mockups',
    and: true
  }
];
const blockTopLeft = {
  img: '/development-time.svg',
  text: 'Development Timeline'
};
const blockTopRight = {
  img: '/development-time.svg',
  text: 'Cost of building your app'
};
</script>

<template>
  <div class="special-offer-right">
    <div class="special-offer-right__top">
      <SpecialTopBlock :data="blockTopLeft" />
      <SpecialTopBlock :data="blockTopRight" />
    </div>

    <div class="special-offer-right__header">
      <h2 class="special-offer-right__title">Let’s get started</h2>
      <h6 class="special-offer-right__subtitle">Get a full estimate</h6>
      <ul class="special-offer-right__links">
        <li v-for="link in headerLinks">
          {{ link.and ? 'and' : '' }}
          {{ link.name }}
        </li>
      </ul>
    </div>

    <div class="special-offer-right__form">
      <Form @submit="(val) => emit('submit', val)" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.special-offer-right {
  position: relative;
  padding: 32px;

  &__top {
    display: flex;
    align-items: start;
    gap: 1rem;
    justify-content: space-between;
  }

  &__header {
    max-width: 506px;
    width: 100%;
    margin: 32px auto;
    text-align: center;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
  }

  &__subtitle {
    margin: 12px 0;
    color: #666;
    font-size: 18px;
    font-weight: 500;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;

    & li {
      color: #114dc8;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      text-decoration-line: underline;
    }
  }
}
</style>
