<script setup>
const { data } = defineProps({
  data: {
    type: Object,
    required: true
  }
});
</script>

<template>
  <div class="special-top-block">
    <img :src="data.img" :alt="data.text" class="special-top-block__img" />
    <h5 class="special-top-block__text">{{ data.text }}</h5>
  </div>
</template>

<style scoped lang="scss">
.special-top-block {
  display: flex;
  gap: 12px;

  &__img {
    height: 56px;
    width: 56px;
    object-fit: cover;
  }

  &__text {
    margin: 5px 0 0;
    color: #114dc8;
    font-size: 16px;
    font-weight: 400;
  }
}
</style>
