<script setup>
import SpecialOfferLeft from '@/components/special-offer/special-offer-left.vue';
import SpecialOfferRight from '@/components/special-offer/special-offer-right.vue';

const emit = defineEmits(['submit']);
</script>

<template>
  <div class="special-offer">
    <SpecialOfferLeft />
    <SpecialOfferRight @submit="(val) => emit('submit', val)" />
  </div>
</template>

<style lang="scss">
.special-offer {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
}

@media all and (max-width: 1200px) {
  .special-offer {
    grid-template-columns: 100%;
  }

  .special-offer-left {
    display: none !important;
  }
}
</style>
