<script setup></script>

<template>
  <div class="showroom">
    <div class="showroom__container">
      <p>
        Fill the form to get accurate document with Detailed feature list,
        Technical architecture, and 2 FREE app design Mockups
      </p>

      <img src="/showroom-arrow.svg" alt="" class="showroom__img" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.showroom {
  position: relative;
  margin: 80px 0;
  padding: 64px 10px;
  border-radius: 16px;
  background: var(--grad, linear-gradient(0deg, #114dc8 0%, #6a2b94 100%));

  @media all and (max-width: 720px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &__container {
    width: 100%;
    max-width: 820px;
    margin: 0 auto;
  }

  & p {
    padding-bottom: 16px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;

    @media all and (max-width: 720px) {
      font-size: 20px;
      line-height: 32px;
    }
  }

  &__img {
    height: 24px;
    width: 100%;
  }
}
</style>
