<script setup>
import { ref, watch } from 'vue';
const { feature } = defineProps({
  feature: {
    type: Object,
    required: true
  }
});
const emit = defineEmits(['updateFeature']);

const item = ref(feature.isChecked || false);
watch(item, (newValue) => {
  emit('updateFeature', { ...feature, isChecked: newValue });
});
</script>

<template>
  <div class="feature">
    <a-checkbox class="feature-checkbox" v-model:checked="item">
      {{ feature.label }}
    </a-checkbox>
  </div>
</template>

<style scoped lang="scss">
.feature {
  display: flex;
  justify-content: start;
  .feature-checkbox {
    text-align: left;
  }
}
</style>
