<script setup>
const { industry } = defineProps({
  industry: {
    type: Object,
    required: true
  }
});
</script>

<template>
  <div class="industry-card">
    <img
      :src="`/industry-${industry.icon}`"
      alt=""
      class="industry-card__img"
    />
    <h6 class="industry-card__name">{{ industry.name }}</h6>
  </div>
</template>

<style lang="scss" scoped>
.industry-card {
  padding: 16px;
  height: 169px;
  width: 175px;
  border: 1px solid #eff0f6;
  box-shadow: 0 2px 7px 0 rgba(20, 20, 43, 0.08);
  text-align: center;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s;

  &__img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }

  &__name {
    margin-top: 1rem;
    color: #666;
    font-size: 16px;
  }
  &:hover {
    border-color: #114dc8;
  }
}
</style>
