<script setup>
import { ref } from 'vue';
const emit = defineEmits(['update:modelValue']);

import IndustryCard from '@/components/industries/industry-card.vue';
const selectIndustry = (industry) => {
  selectedIndustries.value = industry;
  emit('update:modelValue', industry.name);
};
const onInput = (e) => {
  selectedIndustries.value = {};
  emit('update:modelValue', e.target.value);
};
const selectedIndustries = ref({});
const industries = [
  {
    name: 'Education',
    icon: 'education.svg'
  },
  {
    name: 'Healthcare',
    icon: 'heart.svg'
  },
  {
    name: 'Social networking',
    icon: 'social.svg'
  },
  {
    name: 'FinTech',
    icon: 'fintech.svg'
  },
  {
    name: 'Travel',
    icon: 'travel.svg'
  },
  {
    name: 'E-commerce',
    icon: 'ecommerce.svg'
  }
];
</script>

<template>
  <div class="industries container_inner">
    <h5 class="industries__title">Your industry</h5>

    <div class="industries__cards">
      <IndustryCard
        v-for="industry in industries"
        :key="industry.name"
        :industry="industry"
        :class="{
          'industries__cards--active':
            selectedIndustries?.name === industry.name
        }"
        @click="selectIndustry(industry)"
      />
    </div>

    <input
      class="industries__new"
      placeholder="Write your other industry"
      @input="onInput($event)"
    />
  </div>
</template>

<style lang="scss" scoped>
.industries {
  width: 605px;
  margin: 0 auto;

  &__title {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  &__cards {
    margin: 28px 0;
    display: grid;
    grid-template-columns: 175px 175px 175px;
    justify-content: center;
    gap: 40px;
    &--active {
      border-color: #114dc8;
    }
  }

  &__new {
    width: calc(100% - 2rem);
    padding: 20px;
    border-radius: 16px;
    color: #666;
    font-size: 18px;
    border: 1px solid var(--Stroke, #eff0f6);
    box-shadow: 0 2px 7px 0 rgba(20, 20, 43, 0.08);
    background: var(--white, #fff);

    @media all and (max-width: 767px) {
      width: 100%;
    }
  }
}

@media all and (max-width: 767px) {
  .industries {
    width: 100%;
    &__cards {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
    & .industry-card {
      width: 100%;
    }
  }
}
</style>
