<script setup>
import axios from 'axios';
import { reactive, ref } from 'vue';
import Industries from '@/components/industries/industries.vue';
import Features from '@/components/features/features.vue';
import Showroom from '@/components/showroom.vue';
import Platforms from '@/components/platforms/platforms.vue';
import Form from '@/components/form/form.vue';
import SpecialOffer from '@/components/special-offer/special-offer.vue';

const isShowViewStarted = ref(false);

const form = reactive({
  industry: null,
  platforms: null,
  features: []
});
let requiredData = {};
const isModalVisible = ref(false);

const handlePlatformChange = (platforms) => {
  form.platforms = platforms.map((elem) => elem.name);
};
const handleFeatureChange = (items) => {
  form.features = items;
};

const specialOfferStep = (inputs) => {
  isShowViewStarted.value = true;
  const { targetGroup, yourCompetitors, projectDetails } = inputs;
  form.target_audience = {
    characteristics: targetGroup,
    usage: yourCompetitors
  };
  form.project_details = projectDetails;
};

const closeModal = () => {
  isModalVisible.value = false;
};
const calculateFullEstimate = async (inputs) => {
  const { industry, platforms, features, target_audience, project_details } =
    form;
  const { name, email, contact_number, project_description } = inputs;

  requiredData = {
    industry,
    platforms,
    features,
    target_audience,
    name,
    email,
    contact_number,
    project_description,
    project_details
  };
  await axios.post('/start_task/', requiredData);
  isModalVisible.value = true;
  isShowViewStarted.value = false;
};
</script>

<template>
  <div>
    <a-modal
      v-model:open="isModalVisible"
      :closable="false"
      :onCancel="closeModal"
      title="Thank you!"
    >
      Your detailed project plan is waiting for you in mail box
      <template #footer>
        <a-button @click="closeModal">OK</a-button>
      </template>
    </a-modal>
    <div class="calculator" v-if="!isShowViewStarted">
      <div class="container">
        <h1 class="calculator__title container_inner">
          Best AI App Cost Calculator
        </h1>
        <p class="calculator__description container_inner">
          We will give expert feedback on your idea to power your project. Let
          us know your needs, and we'll contact you shortly.
        </p>
        <Industries v-model="form.industry" />
        <Platforms @onChange="handlePlatformChange" />
        <Features :industry="form.industry" @onChange="handleFeatureChange" />
        <Showroom />
        <Form :formInputs="form" @triggerSpecialOffer="specialOfferStep" />
      </div>
    </div>
    <SpecialOffer v-if="isShowViewStarted" @submit="calculateFullEstimate" />
  </div>
</template>

<style lang="scss">
@import 'assets/css/app.scss';

.calculator {
  padding: 20px 0 80px;
  text-align: center;

  &__title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.6px;
  }

  &__description {
    padding: 18px 0 50px;
    text-align: center;
    line-height: 25px;
  }
}
</style>
